@page "/sobre"


<style>
    body{
        margin:0;
        padding:0;
        background-color:#fff0f5;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }
    .estilização{
        display: flex;
        justify-content:center;
        align-items: center;
        padding : 40px 20px;
    }
    .card{
        background:#ffe4ec;
        border-radius: 15px;
        box-shadow: 0 5px 15px pink;
        padding: 25px;
        width : 200px;
        text-align:center;
    }
    .card h1{
        font-size: 20px;
        margin: 0;
        color: #c71585;
    }
    .card p {
        margin:8px;
        color:#4b004b;
        font: 15px;
    }

</style>
<PageTitle>Sobre</PageTitle>
<div class="estilização">
<div class=" card">
    <h1>Informações sobre mim !</h1>
    <p> meu nome é mariah</p>
    <p> gosto de ler livros, principalemte livros de romance</p>
    <p> torço para o vasco :(</p>
    <p> gosto de gatinhos e cachorros, tenho dois :)</p>
    <p> penso em ser engenheira eletricista, mas as vezes nem tanto, porque gosto de fisica, mas não de matematica</p>

</div>
</div>


<SurveyPrompt Title="How is Blazor working for you?" />

